public claass Main {

     public static void main(String[]args) {
         System.out.println("ENTER COMMAND:");
         Scanner sc = new Scanner(System.in);
         string url,key;
         string[] command;
         ArrayList<UrlClass> urlDetails = new ArrayList<>();
         UrlClass urlClass = new UrlClass();
         
         
